@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
$brand-color: #e2dcc9;
$font-family-ptsans: 'PT Sans Narrow', sans-serif;
$font-family-notosans: 'Noto Sans', sans-serif;
$font-size-h4: 20px;
$color-heading: #54565d;
$color-fff: #fff;
$color-text: #9e8d8d;
$btn-color: #f27250;
$color-h1: #2b1818;